@{
    ViewData["Title"] = "About Us ";
}
<article class="container">
    <h2 class="bg-secondary shadow p-3 m-2 text-white text-center">Calliope Zoisite</h2>
    <div class="row">
        <div class="col-sm-3 m-0">
            <img src="~/images/isareimann.jpg" alt="isa in 1979" class="p-2" style="max-width:90%;" />
        </div>
        <div class="col-sm-6 d-inline-block text-wrap pt-2" style="margin-top:0; margin-bottom:0;">
            
            <p>
                Calliope Zoisite was founded on the core principles of fashion by a 19 year old Isa Reimann in 1979 with our founding location being in Bern, Switzerland.
                Inspired by statement designs of the Golden Age of Couture, Isa has made it her mission to return elegance to clothing. 
            </p>
            <hr />
            <p>
                After experiencing a highly anticipated debut at New York Fashion Week in 2018, the company has expanded to include a United States office, 
                located in the Garment District of Manhattan in New York City.
            </p>
        </div>
            <div class="col-sm-3">
                <img src="~/images/isacurrent.png" alt="isa today" style="max-width:95%;"/>
             </div>
        
    </div>
</article>
