@{
    ViewData["Title"] = "Contact Us";
}
<div class="row">
    <img src="~/Images/sketches.jpg" alt="sketches of clothing designs" class="rounded-bottom col-sm-4" />
    <div class="col-sm-8">
        <h2>Calliope Zoisite</h2>
        <h3>US Location</h3>
        <address>
            78 Cascade Blvd<br />
            Manhattan, New York City, NY <br />
            10013<br/>
            <abbr title="Phone"><i class="fas fa-phone"></i></abbr>
            212.555.2345 <br/>
        </address>
        <h3>Switzerland Location (Home)</h3>
        <address>
            218 Saurenmann Drive<br/>
            Bern, Switzerland<br/>
            3001<br/>
            <abbr title="Phone"><i class="fas fa-phone"></i></abbr>
            022 536 60 74
        </address>
    
        <div class="col-sm-12 mt-5 list-group list-group-horizontal">
            <a href="mailto:us@xyzdetectives.org" class="list-group-item list-group-item-success p-2">
                United States: zoisite@calliope.com            </a>
            <a href="mailto:europe@xyzdetectives.org" class="list-group-item list-group-item-success p-2">
                Europe: zoisite@calliope.eu
            </a>
        </div>
        
    </div>
</div>