@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Calliope Zoisite Fashion</h1>
</div>
<div class="row">
    
    <div class="col-5">
        <p class="lead">Unparalleled Glamour and Style </p> <br/>
        <p>World renowned fashion design studio based in Bern, Switzerland</p>
    </div>
    <div class="col-7">
        <img src="~/Images/fabric.jpg"
             alt="bolts of various colors of fabric"
             class="img-fluid rounded-pill " style="max-width: 40%; margin-left:50%;" />
    </div>


</div>
